<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>申請資料填報系統</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="overseas">
	<meta name="author" content="overseas">
	<!-- <script src="../js/browser.js"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://rawgit.com/CarlosBonetti/jquery-loading/master/dist/jquery.loading.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/<%= current.source %>.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/loading.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://rawgit.com/CarlosBonetti/jquery-loading/master/dist/jquery.loading.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="../env.js"></script>
	<script src="./js/student.js"></script>
	
</head>
<body>
	<% 
	const _processPageList = [ // 填寫資料頁面列表
	'systemChoose',
	'qualify1',
	'qualify2',
	'qualify3',
	'personalInfo',
	'educationInfo',
	'olympia',
	'uploadEducation',
	'admissionSelection',
	'grade',
	'placementSelection',
	'result'
	];
	%>
	
	<% include components/_loading %>

	<div id="app" class="container">
		<nav class="navbar header navbar-toggleable-md navbar-light">

			<% if (_processPageList.indexOf(current.source) > -1 || current.source === 'uploadReviewItems') { %>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<% } %>
			<span class="navbar-brand">
				<img
				src="/img/logo.png"
				height="30"
				class="d-inline-block align-top"
				/>
				<span class="hidden-sm-down">海外聯合招生委員會 -</span> 學士班申請資料填報系統
			</span>
			<% if (_processPageList.indexOf(current.source) > -1 || current.source === 'uploadReviewItems') { %>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>
				<div class="form-inline my-2 my-lg-0">
					<button class="btn btn-danger" id="btn-logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 登出</button>
				</div>
			</div>
			<% } %>
		</nav>
		<div class="alert alert-danger mt-2 alert-emailVerify hide" role="alert">
			<strong>注意！</strong> 您的信箱尚未驗證，請儘速前往填寫信箱開啟驗證信。若您未收到驗證信，請按 <a id="btn-mailResend" href="javascript:;">這裡</a> 重送驗證信。
		</div>

		<hr>

		<% if (_processPageList.indexOf(current.source) > -1) { %>
		<div class="row">
			<div class="col-lg-3">
				<div class="list-group">
					<a href="systemChoose.html" class="list-group-item list-group-item-action nav-systemChoose <%= 'qualify1qualify2qualify3systemChoose'.includes(current.source) ? 'active' : ''%>">資格驗證</a>
					<a href="personalInfo.html" class="list-group-item list-group-item-action nav-personalInfo <%= current.source === 'personalInfo' ? 'active' : ''%>">個人基本資料</a>
					<a href="educationInfo.html" class="list-group-item list-group-item-action nav-educationInfo hide <%= current.source === 'educationInfo' ? 'active' : ''%>">入學資料</a>
					<a href="olympia.html" class="list-group-item list-group-item-action nav-olympia hide <%= current.source === 'olympia' ? 'active' : ''%>">奧林匹亞志願</a>
					<a href="uploadEducation.html" class="list-group-item list-group-item-action nav-uploadEducation <%= current.source === 'uploadEducation' ? 'active' : ''%>">上傳學歷證件</a>
					<a href="admissionSelection.html" class="list-group-item list-group-item-action nav-admissionSelection <%= current.source === 'admissionSelection' ? 'active' : ''%>">個人申請志願</a>
					<a href="grade.html" class="list-group-item list-group-item-action nav-grade hide <%= current.source === 'grade' ? 'active' : ''%>">聯合分發成績採計方式</a>
					<a href="placementSelection.html" class="list-group-item list-group-item-action nav-placementSelection hide <%= current.source === 'placementSelection' ? 'active' : ''%>">聯合分發志願</a>
					<a href="result.html" class="list-group-item list-group-item-action nav-result <%= current.source === 'result' ? 'active' : ''%>">志願檢視</a>
				</div>
				<hr>	
				<div class="list-group">
					<a href="uploadReviewItems.html" class="list-group-item list-group-item-action nav-uploadReviewItems">上傳備審資料 (暫放)</a>
				</div>
			</div>
			<div class="col-lg-9">
				<%- yield %>
			</div>
		</div>
		<script src="./js/navbar.js"></script>
		<% } else { %>
		<%- yield %>
		<% } %>
	</div>
	<script>
		var loading = {
			start: function () {
				$('#loading-wrapper').show();
			},
			complete: function () {
				$('#loading-wrapper').hide();
			}
		};
		loading.start();
	</script>
	<script src="js/<%= current.source %>.js"></script>
	<footer class="container">
		<div class="row">
			<div class="col-12 text-center">
				<small>海外聯合招生委員會</small><br>
				<small>University Entrance Committee For Overseas Chinese Students</small><br />
				<small>地址：臺灣545南投縣埔里鎮大學路一號( 國立暨南國際大學 )</small><br />
				<small>E-mail：<a href="mailto:overseas@ncnu.edu.tw">overseas@ncnu.edu.tw</a> 電話：+886-49-2910900( 代表號 )   傳真：+886-49-2911182</small>
			</div>
		</div>
	</footer>
</body>
</html>
